body {

font-family: Arial;
background: lightblue;

}

.box {

background: white;
padding: 20px;
margin: 100px;
text-align: center;

}

input {

display: block;
margin: 10px;
padding: 10px;
width: 90%;

}

button {

padding: 10px;
width: 100%;

}

.red {

color: red;

}